:root {
    --primary-color: #142727;
    --secondary-color: #00ffff;
    --tertiary-color: #201e5ee9;
}

body {
    background-color: #fff;
    padding-right: 5px;
}

/* Main logo/Nav Section */

header{
    background-color: var(--primary-color);
    display: flex;
}

.name{
    /* main logo */
    background-color: var(--secondary-color);
    width: 25%;
    margin: 5px 0px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.nav-items{
    padding: 0px;
}

.nav-items li{
    display: inline-block;   
}

.nav-items a{
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

/* HERO Section */

.hero-banner{
    background-image: 
    linear-gradient(var(--tertiary-color), var(--tertiary-color)),
    url(../images/02-hero-bg.jpg);
    background-blend-mode: saturation; /*blend background image with tetiary color*/
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0% 4.5% 3% 0%;
}

.profile-picture{
    height: 90%;
    border: 3px solid var(--tertiary-color);
    border-radius: 50%;
    padding-left: 5px;
}

.hero-text{
   background-color: var(--secondary-color);
   padding-right: 5px;
}

/* MAIN Section */
.page-wrapper{
    /* main grid for about, work and contact sectio */
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 25% 70%;
    justify-content: center;
    color: var(--tertiary-color);
}

.page-section{
    margin: 20px;    
}

.about,
.work,
.contact{
    border-right: 3px solid var(--tertiary-color);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.page-section h2{
    font-size: 2em;
    text-align: right;
}

/* About Me */
.about-text{
    margin-bottom: 20px;
}

/* WORK */
.work-port-area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    border: 5px solid var(--secondary-color);
    padding-bottom: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--tertiary-color);
}

.work-port-area div{
    background-color: var(--secondary-color);
    height: max-content;
    padding: 5px;
}

.work-port-area p{
    font-size: 10px;
}

#work-portfolio{
    /* grid for portfolios in the work section */
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "portfolio-1 portfolio-1"
    "portfolio-1 portfolio-1"
    "portfolio-2 portfolio-3"
    "portfolio-4 portfolio-5";
}

#portfolio-1{
    grid-area: portfolio-1;
    background-image: url("../images/02-portfolio-1.jpg");
    background-blend-mode: color;
}

#portfolio-2{
    grid-area: portfolio-2;
    background-image: url("../images/02-portfolio-2.jpg");
}
#portfolio-3{
    grid-area: portfolio-3;
    background-image: url("../images/02-portfolio-3.jpg");
}
#portfolio-4{
    grid-area: portfolio-4;
    background-image: url("../images/02-portfolio-4.jpg");
}
#portfolio-5{
    grid-area: portfolio-5;
    background-image: url("../images/02-run-buddy.jpg");
}

/* Contact */

.contact-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.contact-options a{
    text-decoration: none;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--tertiary-color);
    padding: 0px 5px;
    font-size: 20px;
    height: max-content;

}

/* Media Queries */
@media only screen and (max-width: 50em) {
    
    body{
      background-color: rgb(216, 163, 163);
    }
    header{
        flex-direction: column;
    }
    .name{
        width: fit-content; 
        padding-left: 20px;
    }
    nav {
        width: 100%;
        justify-content: center;
        padding-right: 0px;
    }
    .hero-banner{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .hero-text{
       height: 15%;
    }
    .profile-picture{
        height: 80%;
    }
    .page-wrapper{
        /* display: grid; */
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 1fr;
        justify-content: center;
        color: var(--tertiary-color);
    }
    #work-portfolio{
        display: grid;
        grid-template-rows: 200px 200px 200px 200px 200px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "portfolio-1"
        "portfolio-2"
        "portfolio-3"
        "portfolio-4"
        "portfolio-5";
    }
    .about,
    .work,
    .contact{
    border-right: 0px;
    border-bottom: 3px solid var(--tertiary-color);
    display: flex;
    justify-content: center;
    padding-right: 0px;
    }
}