:root {
    --primary-color: #142727;
    --secondary-color: #00ffff;

}

body {
    background-color: #fff;
}

header{
    background-color: var(--primary-color);
    display: flex;
}

ul li{
    display: inline-block;
}

.name{
    background-color: var(--secondary-color);
    width: 25%;
    margin: 5px 0px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.nav-items a{
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding: 5px;
}